body {
  color: #222;
  letter-spacing: 1px; }

a {
  color: #FF9A47; }

.wrap-header {
  color: #F6F6F6; }

p {
  color: #888; }

.color_element {
  color: #FF9A47; }

.color_bg {
  background-color: #FF9A47; }

.color_border {
  border-color: #FF9A47; }

.main-color-bg {
  background-color: #222; }

.loader {
  background: none repeat scroll 0 0 #FFFFFF;
  bottom: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  left: 0;
  position: fixed; }

.loader-inner {
  width: inherit;
  height: inherit;
  background-image: url("../../img/preloader.gif");
  background-repeat: no-repeat;
  background-position: center center; }

svg path {
  fill: #fff; }

.menu-toggle {
  background-color: #222; }

.top-menu {
  background-color: rgba(0, 0, 0, 0.9); }
  .top-menu a {
    color: #fff;
    letter-spacing: 3px;
    transition: background-color 0.5s; }
  .top-menu a:hover {
    background-color: rgba(255, 255, 255, 0.05); }

body {
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-size: 14px;
  min-width: 320px;
  position: relative;
  line-height: 1.4;
  -webkit-font-smoothing: antialised; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: red; }

body input:required:valid,
body textarea:required:valid {
  color: green; }

.hidden {
  display: none; }

section,
.main-head {
  position: relative; }

.main-head {
  min-height: 620px;
  padding-top: 20px; }

.logo-container {
  float: left; }

section {
  min-height: 500px; }

#header-overlay {
  background: #000;
  opacity: 0.6;
  bottom: 0;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 9998;
  left: 0;
  position: absolute;
  z-index: 2; }

svg {
  height: 100px;
  width: 220px;
  z-index: 100;
  position: relative; }

#header-text {
  margin-top: 1em;
  color: #fff;
  position: relative;
  z-index: 4; }

.top-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 4;
  right: 0;
  top: 0; }
  .top-menu ul,
  .top-menu li {
    list-style-type: none;
    padding: 0;
    margin: auto auto; }
  .top-menu ul {
    margin-top: 180px;
    text-align: center; }
    .top-menu ul a {
      display: block;
      padding: 20px 0;
      text-transform: uppercase;
      font-size: 1.5em; }

/******************************** */
/******************************** */
/******************************** */
/******************************** */
.menu-toggle {
  padding: 30px 25px;
  width: 96px;
  height: 96px;
  float: right;
  border: none;
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 6; }

.switch {
  width: 72px;
  height: 48px;
  margin: auto;
  display: block; }
  .switch > span {
    display: block; }
  .switch .sw-topper {
    position: relative;
    top: 0;
    width: 48px;
    height: 4px;
    background: white;
    border: none;
    border-radius: 4px;
    transition: transform 0.5s, top 0.2s;
    /* transition-delay: 0.2s, 0s */ }
  .switch .sw-bottom {
    position: relative;
    width: 48px;
    height: 4px;
    top: 12px;
    background: white;
    border: none;
    border-radius: 4px;
    transition: transform 0.5s, top 0.2s;
    transition-delay: 0.2s, 0s; }
  .switch .sw-footer {
    position: relative;
    width: 48px;
    height: 4px;
    top: 24px;
    background: white;
    border: none;
    border-radius: 4px;
    transition: all 0.5s;
    transition-delay: 0.1s; }

.switch.active .sw-topper {
  top: 15px;
  transform: rotate(140deg); }
.switch.active .sw-bottom {
  top: 10px;
  transform: rotate(-140deg); }
.switch.active .sw-footer {
  opacity: 0;
  top: 0;
  transform: rotate(180deg); }

/******************************* */
.top-wrapper {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2; }
  .top-wrapper .top-description {
    display: table-row; }
    .top-wrapper .top-description .top-centered {
      text-align: center;
      vertical-align: middle;
      display: table-cell; }
      .top-wrapper .top-description .top-centered .wrap-header {
        display: inline-block; }
        .top-wrapper .top-description .top-centered .wrap-header h1 {
          font-size: 2em; }
        .top-wrapper .top-description .top-centered .wrap-header p {
          font-size: 1.6em; }

/*# sourceMappingURL=main.css.map */
